*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1300px;
    margin: 0 auto;
    padding: 30px 20px;
}
.content{
    display: flex;
    align-items: center;
}
.img{
    height: 600px;
    border-radius: 50px;
    margin-right: 30px;
}
.img{
    object-fit: cover;
}
.image1{
    width: 50%;
    transition: 0.5s ease all;
}
.image1__close{
    width: 10%;
    transition: 0.5s ease all;
}
.image2{
    width: 10%;
}
.image2__open{
    transition: 0.5s ease all;
    width: 50%;
}
.image3{
    width: 10%;
}
.image3__open{
    width: 50%;
    transition: 0.5s ease all;
}
.image4{
    width: 10%;
}
.image4__open{
    width: 50%;
    transition: 0.5s ease all;
}
.image5{
    width: 10%;
}
.image5__open{
    width: 50%;
    transition: 0.5s ease all;
}
.name{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 25px;
    margin-top: 10px;
    text-align: end
}
